[submodule "griefalert"]
	path = griefalert
	url = http://github.com/MCAU/GriefAlert.git
[submodule "mapmarkers"]
	path = mapmarkers
	url = http://github.com/MCAU/MapMarkers.git
[submodule "cuboid"]
	path = cuboid
	url = http://github.com/MCAU/CuboidPlugin.git
[submodule "jump"]
	path = jump
	url = http://github.com/MCAU/Jump.git
[submodule "mcautils"]
	path = mcautils
	url = http://github.com/MCAU/MCAUtils.git
[submodule "quickport"]
	path = quickport
	url = git://github.com/MCAU/QuickPort.git
