[submodule "griefalert"]
	path = griefalert
	url = http://github.com/MCAU/GriefAlert.git
[submodule "mapmarkers"]
	path = mapmarkers
	url = http://github.com/MCAU/MapMarkers.git
[submodule "cuboid"]
	path = cuboid
	url = http://github.com/MCAU/CuboidPlugin.git
