[submodule "griefalert"]
	path = griefalert
	url = http://github.com/MCAU/GriefAlert.git
[submodule "mapmarkers"]
	path = mapmarkers
	url = http://github.com/MCAU/MapMarkers.git
[submodule "cuboid"]
	path = cuboid
	url = http://github.com/MCAU/CuboidPlugin.git
[submodule "jump"]
	path = jump
	url = http://github.com/MCAU/Jump.git
[submodule "mcautils"]
	path = mcautils
	url = http://github.com/MCAU/MCAUtils.git
[submodule "quickport"]
	path = quickport
	url = git://github.com/MCAU/QuickPort.git
[submodule "magiccarpet"]
	path = magiccarpet
	url = git://github.com/MCAU/MagicCarpet.git
[submodule "timecop"]
	path = timecop
	url = git://github.com/MCAU/TimeCop.git
[submodule "NewUserAlert"]
	path = NewUserAlert
	url = git://github.com/MCAU/NewUserAlert.git
[submodule "worldedit"]
	path = worldedit
	url = git://github.com/sk89q/worldedit.git
